.vscode/settings.jsonZone.Identifier
.DS_Store
sim
.vscode/settings.json
execution_fcfs.txt
execution_fcfs.txt
.gitignore
execution_rr.txt
memory_status_fcfs.txt
memory_status_priority.txt
memory_status_rr.txt
simulator
Submission_Guide.txt
